#home{
    text-decoration: none;
  }

#email{
    margin-right: 8px;
    text-decoration: none;
    color:white;
}
  

//#212529 
.under-menu{
    margin-left: 8px;
}
#search-star{
    text-decoration: none;
    color:white;
}
#constellations-info{
    text-decoration: none;
    color:white;
}
#facts{
    text-decoration: none;
    color: white;
}

.main {
    background: linear-gradient(133deg, #3a0ca3, #4895ef);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 23s ease infinite;
    -moz-animation: AnimationName 23s ease infinite;
    animation: AnimationName 23s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 32%}
    50%{background-position:100% 69%}
    100%{background-position:0% 32%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 32%}
    50%{background-position:100% 69%}
    100%{background-position:0% 32%}
}
@keyframes AnimationName {
    0%{background-position:0% 32%}
    50%{background-position:100% 69%}
    100%{background-position:0% 32%}
}
.left{
    width: 100%;
    display:flex; 
    margin-top:10px;
}
.search{
    text-decoration: none;
    width: 50%;
}
.containeR{
    display:grid;
    
    width: 100%;
}
.hmtl{
    background-color: darkgrey;
}

.right{
    font-size: 20px;
    color: white;
    text-align:right;
    margin-right: 16px;;
}

.Contact{
    margin-right: 16px;;
}