<div class="container p-3 text-center">
      <button class="btn btn-secondary text-white bg-dark mx-1" type="button" (click)="shownonconfirmed()">Niepotwierdzone gwiazdy</button>
      <button class="btn btn-secondary text-white bg-dark mx-1" type="button" (click)="showconfirmed()">Potwierdzone gwiazdy</button>
      <button class="btn btn-secondary text-white bg-dark mx-1" type="button" (click)="showuser()">Użytkownicy</button>
</div>
<app-confirmedstar *ngIf="this.showconf"></app-confirmedstar>
<app-nonconfirmedstar *ngIf="shownonconf"></app-nonconfirmedstar>
<app-user *ngIf="showsus"></app-user>