<nav class="navbar navbar-expand-lg navbar-light bg-light" id="main">
    <a class="navbar-brand" routerLink="" routerLinkActive="active" id="home">STAR DATABASE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" id="text1" routerLink="search-star" routerLinkActive="active">Wyszukaj gwiazdę</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" id="text1" routerLink="constellation" routerLinkActive="active">Gwiazdozbiory</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" id="text1" routerLink="form" routerLinkActive="active">Dodaj gwiazdę</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" id="text1" routerLink="/login-system" (click)="logout()">Wyloguj</a>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" style="color:#E6E8E6; margin-left:8px;"
                    aria-haspopup="true" aria-expanded="false">
                    Więcej opcji
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" routerLink="email" routerLinkActive="active">Autor strony</a>
                    <a class="dropdown-item" routerLink="facts" routerLinkActive="active">Ciekawostki</a>
                    <a class="dropdown-item" routerLink="form-list" routerLinkActive="active">Lista formularzy</a>
                    <a class="dropdown-item" routerLink="profil" routerLinkActive="active">Profil</a>
                </div>
            </li>
        </ul>
    </div>
</nav>