<div class="main">
    <div class="constellation-text">
        <div id="title1" >Co to jest gwiazdozbiór?</div>
        <div id="text">
            Gwiazdozbiór (konstelacja z łac. constellatio, con od cum 'z [czym]' i stella 'gwiazda') – określony
            obszar na sferze niebieskiej ustalony przez Międzynarodową Unię Astronomiczną. Gwiazdy wchodzące
            w skład gwiazdozbiorów nie są ze sobą zazwyczaj fizycznie związane, a ich bliskie położenie na niebie
            jest wywołane geometrycznym efektem rzutowania ich położeń na sferę niebieską.
        </div>
    </div>

    <div class="image">
        <app-draw-const></app-draw-const>
    </div>
    <app-constellation-list></app-constellation-list>
</div>