@import url('https://rsms.me/inter/inter.css');

#title1{
  width: 100%;
  text-align: center;
  color:#169131;
  margin-bottom: 32px;
  font-size: 40px;
  font-weight: 700;
}

.main{
  width: 100%;
  padding: 8%;
}
.przycizg{
position: relative;
top: 1px;
left: 10px;
padding :3px;
}
.Field{
    padding-top: 4%;
    padding-bottom: 8%;
    background: #212529;
    color: white;
    --size-bezel: .3rem;
    --size-radius: 4px;
    line-height: 1.4;
    font-family: 'Inter', sans-serif;
    font-size: calc(.6rem + .4vw);
}
  .input {
    position: relative;
    width: 25%;
    min-width: 300px;
    &__label {
      position: absolute;
      left: 0;
      top: 0;
      padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .8);
      margin: calc(var(--size-bezel) * 0.75 + 1px) calc(var(--size-bezel) * .8);
      white-space: nowrap;
      transform: translate(0, 0);
      transform-origin: 0 0;
      background: var(--color-background);
      transition: transform 200ms ease-in;
    }
    &__field {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border: 2px solid currentColor;
      padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
      color: currentColor;
      background: transparent;
      border-radius: var(--size-radius);
      
      &:focus,
      &:not(:placeholder-shown) {
        & + .input__label {
          transform: translate(.25rem, -95%) scale(.8);
          color: var(--color-accent);
        }
      }
    }
  }
  .button {
      min-width: 120px;
      width: 10%;
      color: #212529; 
      background: #ffffff;
      border-radius: var(--size-radius);
      border: solid 2px #ffffff;
      font-weight: 600;
      font-size: 20px;
  }
  .button:hover{
      transition: 250ms ease-in;
      color: #000000;
      font-weight: 600;
      background: #ABA194;
      border: solid 2px #ABA194;

  }
  .hidden {
    display: none;
  }
  
  