<form #userForm="ngForm" (ngSubmit)="Getlogin(userForm.value)">
    <div class="Field" id="login">
        <label class="input">
            <input class="input__field" type="text" ngModel name="login" placeholder=""/>
            <span class="input__label">Wprowadź nazwę użytkownika</span>
        </label>
    </div>
    <div class="Field" id="password">
        <label class="input">
            <input class="input__field" type="password" ngModel name="password" placeholder=""/>
            <span class="input__label">Wprowadź hasło</span>
        </label>
        <div class="button-group">
            <button class="button button-white button-border">Login</button>
        </div>
    </div>
</form>