<div class="Field" id = "name">
    <label class="input">
        <input class="input__field" type="text" placeholder=" " />
        <span class="input__label">Enter your name</span>
    </label>
</div>
<div class="Field" id = "surname">
    <label class="input">
        <input class="input__field" type="text" placeholder=" " />
        <span class="input__label">Enter your surname</span>
    </label>
</div>
<div class="Field" id = "login">
    <label class="input">
        <input class="input__field" type="text" placeholder=" " />
        <span class="input__label">Enter your login</span>
    </label>
</div>
<div class="Field" id = "password">
    <label class="input">
        <input class="input__field" type="password" placeholder=" " />
        <span class="input__label">Enter your password</span>
    </label>
</div>
<div class="Field" id = "email">
    <label class="input">
        <input class="input__field" type="email" placeholder=" " />
        <span class="input__label">Enter your email</span>
    </label>
    <div class="button-group" id ="login-button">
        <button class="button button-white button-border">Register</button>
    </div>
</div>

