#inputfield{
  padding-top: 24px;
}

#buttonrej{
  width: 50%;
}
.main{
  padding: 4%;
}

.alert-danger{
  margin-top: 1%;
}

.alert-warning{
  margin-top: 2%;
}

.Seform{
  margin:auto;
  width: 50%;
  min-width: 200px;
}

  .button-group {
      padding: 1%;
      margin-top: calc(var(--size-bezel) * 2.5);
  }
  
  button {
    margin-top: 24px;
      min-width: 120px;
      width: 16%;
      color: currentColor;
      padding: var(--size-bezel) calc(var(--size-bezel) * 2);
      background: #2f343a;
      border-radius: var(--size-radius);
      font-weight: 400;
      border: none;
      font-size: 24px;
  }
  button:hover{
      transition: 200ms ease-in;
      color: #212529;
      font-weight: 600;
      background: #ffffffee;
  }
  .hidden {
    display: none;
  }
  
  