<div class="main">
    <form class="Seform" *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"
        novalidate>
        <div class="form-group" id="inputfield">
            <label for="firstname">Imię</label>
            <input type="text" class="form-control" name="firstname" [(ngModel)]="form.firstname" required
                maxlength="30" #firstname="ngModel" />
            <div class="alert-danger bg-danger rounded-pill" *ngIf="firstname.errors && f.submitted">
                <div *ngIf="firstname.errors.required">Imię jest wymagane!</div>
                <div *ngIf="firstname.errors.maxlength">
                    Imię przekracza dozwoloną liczbę znaków: 30.
                </div>
            </div>
        </div>

        <div class="form-group" id="inputfield">
            <label for="lastname">Nazwisko</label>
            <input type="text" class="form-control" name="lastname" [(ngModel)]="form.lastname" required maxlength="30"
                #lastname="ngModel" />
            <div class="alert-danger bg-danger rounded-pill" *ngIf="lastname.errors && f.submitted">
                <div *ngIf="lastname.errors.required">Nazwisko jest wymagane!</div>
                <div *ngIf="lastname.errors.maxlength">
                    Nazwisko przekracza dozwoloną liczbę znaków: 30.
                </div>
            </div>
        </div>

        <div class="form-group" id="inputfield">
            <label for="username">Nazwa użytkownika</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required maxlength="30"
                #username="ngModel" />
            <div class="alert-danger bg-danger rounded-pill" *ngIf="username.errors && f.submitted">
                <div *ngIf="username.errors.required">Nazwa użytkownika jest wymagana!</div>
                <div *ngIf="username.errors.maxlength">
                    Nazwa użytkownika przekracza dozwoloną liczbę znaków: 30.
                </div>
            </div>
        </div>

        <div class="form-group" id="inputfield">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required maxlength="40"
                #email="ngModel" />
            <div class="alert-danger bg-danger rounded-pill" *ngIf="email.errors && f.submitted">
                <div *ngIf="email.errors.required">Email jest wymagany!</div>
                <div *ngIf="email.errors.Email">Niepoprawny</div>
                <div *ngIf="email.errors.maxlength">
                    Email przekracza dozwoloną liczbę znaków: 40.
                </div>
            </div>
        </div>

        <div class="form-group" id="inputfield">
            <label for="password">Hasło</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required
                maxlength="40" minlength="8" #password="ngModel" />
            <div class="alert-danger bg-danger rounded-pill" *ngIf="password.errors && f.submitted">
                <div *ngIf="password.errors.required">Hasło jest wymagane!</div>
                <div *ngIf="password.errors.maxlength">
                    Hasło przekracza dozwoloną liczbę znaków: 40.
                </div>
                <div *ngIf="password.errors.minlength">
                    Hasło musi zawierać conajmniej 8 znaków.
                </div>
            </div>
        </div>
        <div class="form-group" id="inputfield">
            <label for="password2">Powtórz hasło</label>
            <input type="password" class="form-control" name="password2" [(ngModel)]="form.password2" required
                maxlength="40" minlength="8" #password2="ngModel" />
            <div class="alert-danger bg-danger rounded-pill" *ngIf="password2.errors && f.submitted">
                <div *ngIf="password2.errors.required">Hasło jest wymagane!</div>
                <div *ngIf="password2.errors.maxlength">
                    Hasło przekracza dozwoloną liczbę znaków: 40.
                </div>
                <div *ngIf="password2.errors.minlength">
                    Hasło musi zawierać conajmniej 8 znaków.
                </div>
                <div *ngIf="password2.errors.compare">

                </div>
            </div>
        </div>
        <div class="form-group align-items-center" style="padding-top: 32px; text-align: center;">
            <button class="btn btn-primary" id="buttonrej">Rejestracja</button>
        </div>
        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
            Rejestracja nieudana: <br />{{ errorMessage }}
        </div>

    </form>

    <div id="registrationsuc" class="alert alert-success" *ngIf="isSuccessful">
        Rejestracja udana.
    </div>
</div>