<div class="">
    <table class="table table-dark" style="width: 100%;">
        <thead>
            <th scope="col"></th>
            <th scope="col">Wartości</th>
        </thead>
        <tbody>
            <tr>
                <td>Nazwa</td>
                <td id="name"></td>
            </tr>
            <tr>
                <td>Rektascencja</td>
                <td id="rec"></td>
            </tr>
            <tr>
                <td>Deklinacja</td>
                <td id="dec"></td>
            </tr>
            <tr>
                <td>Powierzchnia</td>
                <td id="area"></td>
            </tr>
            <tr>
                <td>Półkula nieba</td>
                <td id="skyside"></td>
            </tr>
            <tr>
                <td>Liczba gwiazd*</td>
                <td id="star_number"></td>
            </tr>
        </tbody>
    </table>
    <div class="m-5" id="symbolism" style="font-size: 20px;">
    </div>
</div>
<div class="text-center" id="picture">
    <img id="image" [src]="image">
</div>
<div class="m-5">
    <button type="button" class="btn btn-light text-black btn-lg btn-block" (click)="star_list()">Zobacz obszary z utrudnioną obserwacją nocnego nieba</button>
</div>
<div class="m-5" id="info">
    (*)Liczba gwiazd znajdująca się w bazie danych oraz należącyc do gwiazdozbioru. Podana wartość może nie
    pokrywać się z
    rzeczywistą liczbą gwiazd. Jęśli chcesz zwiększyć liczbę zapisanych gwiazd zaloguj się i odkrywaj z nami!
</div>