<div class="containeR" *ngFor="let items of items">
    <div class="Odstep">
        <h1>Example star</h1>
    </div>
    <div class="Dane" style="float:left; padding: 16px;">
        Star name: {{items.name}} <br>
        Rectascension: {{items.rectascension}} <br>
        Declination: {{items.declination}}<br>
        Radial speed: {{items.radial_speed}}<br>
        Distance from Sun: {{items.distance}}<br>
        Brightness: {{items.brightness}}<br>
        Spectral type: {{items.spectral_type}}<br>
        Mass: {{items.mass}}<br>
        Constellation: {{items.constelation_name}}<br>
        Star type: {{items.type}}<br>
        Metallicity: {{items.metallicity}}<br>
        Age: {{items.age}} <br>
        Link to see star: {{items.link}} <br>
    </div>
    <div class="text">
        <h2>Comparsion size</h2>
    </div>
    <div class="Star">
        {{items.name}}:
        <svg width="40%" height="200px">
            <circle cx="50%" cy="50%" [style.r]="starsize" fill="white" />
        </svg>
    </div>
    <div class="Sun">
        Sun:
        <svg width="40%" height="200px">
            <circle cx="50%" cy="50%" r="10.009" fill="white" />
        </svg>
    </div>
</div>