.Odstep{
    padding: 100px;
    color: white;
    text-align: center;
    background-color: #212529;
}
.Dane{
    padding: 16px;
    text-align: left;
    color: white;   
    background: #212529;
    width: 60%;
    float: right;
}
.containeR{
    width: 100%;
    background: #212529;
}
.text{
    width: 40%;
    float: left;
    color:white;
    text-align: center;
}
.Star{
    color:white;
}
.Sun{
    color:white;
}