<div class="">

    <table class="table table-dark" id="table">
        <thead>
            <tr id="theader">
                <td>#</td>
                <td>Wartości</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ID gwiazdy</td>
                <td id="starid"></td>
            </tr>
            <tr>
                <td>Nazwa gwiazdy</td>
                <td id="starname"></td>
            </tr>
            <tr>
                <td>Gwiazdozbiór</td>
                <td id="starconstellation"></td>
            </tr>
            <tr>
                <td>Deklinacja</td>
                <td id="stardeclination"></td>
            </tr>
            <tr>
                <td>Rektascencja</td>
                <td id="starrectascension"></td>
            </tr>
            <tr>
                <td>Typ widmowy</td>
                <td id="startype"></td>
            </tr>
            <tr>
                <td>Dystans od Słońca</td>
                <td id="stardistance"></td>
            </tr>
            <tr>
                <td>Jasność</td>
                <td id="starbrightness"></td>
            </tr>
            <tr>
                <td>Odkrywca</td>
                <td id="stardiscaverer"></td>
            </tr>
            <tr>
                <td>Symbol gwiazdy</td>
                <td id="starsymbol"></td>
            </tr>
            <tr>
                <td>Masa</td>
                <td id="starmass"></td>
            </tr>
            <tr>
                <td>Prędkość radialna</td>
                <td id="starspeed"></td>
            </tr>
        </tbody>
    </table>
</div>