Potwierdzone gwiazdy
<table class="table table-dark" id="table">
    <thead>
      <tr id="theader">
        <th scope="col">Nazwa gwiazdy</th>
        <th scope="col">Gwiazdozbiór</th>
        <th scope="col">Typ widmowy</th>
        <th scope="col">Rektascencja</th>
        <th scope="col">Deklinacja</th>
        <th scope="col" style="text-align: center;">Więcej informacji</th>
      </tr>
    </thead>
    <tbody *ngIf="starData != null">
      <tr *ngFor="let row of starData" id="data">
        <td>{{row.name}}</td>
        <td>{{row.constellation_name}}</td>
        <td>{{row.star_type}}</td>
        <td>{{row.rectascension}}</td>
        <td>{{row.declination}}</td>
        <td style="max-height: fit-content; text-align: center;"><button type="button"
            class="btn btn-secondary text-white bg-dark" (click)="moreInfo(row)">Szczegóły</button></td>
        <td style="max-height: fit-content;"><button type="button" class="btn btn-secondary text-white bg-dark"
            (click)="edit(row)">Edytuj</button></td>
            <td style="max-height: fit-content;"><button type="button" class="btn btn-secondary text-white bg-dark"
              (click)="deletestar(row)">Usuń</button></td>
      </tr>
    </tbody>
  </table>