#main {
    background: linear-gradient(-133deg, #3a0ca3, #4895ef);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 23s ease infinite;
    -moz-animation: AnimationName 23s ease infinite;
    animation: AnimationName 23s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 32%}
    50%{background-position:100% 69%}
    100%{background-position:0% 32%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 32%}
    50%{background-position:100% 69%}
    100%{background-position:0% 32%}
}
@keyframes AnimationName {
    0%{background-position:0% 32%}
    50%{background-position:100% 69%}
    100%{background-position:0% 32%}
}

#error{
    height: 32px;
    color: white;
    text-align: center;
    font-size: 20px;    
}