#image_1{
    width: 36%;
    margin: 24px;
}
#EnterText{
    font-size: 90px;
    font-weight: 900;
}
#title1{
    text-align: center;
    margin-bottom: 16px;
    color:#82FF9E
}
.textgradient {
    font-size: 80px;
    font-weight: 900;
    background-image:url("../../assets/photo/Crab_Nebula.jpg");
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 150% auto;
    animation: textShine 30s ease-in-out infinite alternate;
  }
  
  @keyframes textShine {
    to {
        background-position: 200%;
      }
  }

.main{
    padding: 8%;
    padding-top: 3.5%;
}
.Text{
    color : white;
    margin:4%;  
    text-align: center;
}
.star-info{
    margin-top: 4%;
    margin-bottom: 4%;
}
.star-img{
    margin-top: 4%;
    margin-bottom: 4%;
}
.text_star{
    float:left;
    width:56%;
    margin-top:16px;
}
.search_star{
    width:100%;
    text-align: center;
    margin-bottom: -4%;
}