<div class="main">
    <div class="Text">
        <h2 class = "textgradient">STAR DATABASE   <br></h2><br>

        <p >Aplikacja pomoże ci wyszukać informacji o gwiazdach i gwiazdozbiorach.</p>
    </div>
    <div class="star-info">
        Gwiazda – kuliste ciało niebieskie, stanowiące skupisko powiązanej grawitacyjnie materii.
        Przynajmniej przez część swojego istnienia emituje w sposób stabilny promieniowanie elektromagnetyczne (w
        szczególności światło widzialne).
        Gwiazdy powstają głównie z wodoru i helu, lecz w trakcie życia przybywa w nich atomów cięższych pierwiastków
        (tzw.
        metali).
    </div>
    <app-under-line></app-under-line>
    <div class="star-img">
        <img src="../../assets/photo/slonce.jpg" id="image_1">
        <div class="text_star">
            Słońce (łac. Sol, gr. Ἥλιος, trb. Hḗlios, symbol: ☉) – gwiazda centralna Układu Słonecznego,
            wokół której krąży Ziemia, inne planety tego układu, planety karłowate oraz małe ciała Układu Słonecznego.
            Słońce składa się z gorącej plazmy utrzymywanej przez grawitację i kształtowanej przez pole magnetyczne.
            Jest
            prawie idealnie kuliste[13][14]. Ma średnicę około 1 392 684 km[3], około 109 razy większą niż Ziemia, a
            jego
            masa (1,989 ×1030 kg, około 333 tysięcy razy większa niż masa Ziemi (M⊕)) stanowi około 99,86% całkowitej
            masy
            Układu Słonecznego[15]. Około trzy czwarte masy Słońca
            stanowi wodór, resztę głównie hel. Pozostałe 1,69% (co odpowiada około 5600 M⊕)
            tworzą cięższe pierwiastki, w tym m.in. tlen, węgiel, neon i żelazo.
        </div>
    </div>
    <app-under-line></app-under-line>
    <app-search-star></app-search-star>
</div>