#image_1{
    width: 30%;
    margin: 24px;
}

.main{
    padding: 8%;
}
.Text{
    color : white;
    margin:4%;  
    text-align: center;
}
.star-info{
    margin-bottom: 4%;
}
.star-img{
    margin-top: 4%;
    margin-bottom: 4%;
}
.text_star{
    float:left;
    width:60%;
    margin-top:16px;
}
.search_star{
    width:100%;
    text-align: center;
    margin-bottom: -4%;
}