<div class="main">
    <div class="Text">
        <h2 class = "textgradient">STAR DATABASE   <br></h2><br>

        <h4>Ta aplikacja powstała, aby ułatwić wyszukiwanie informacji o gwiazdach i gwiazdozbiorach.</h4>
    </div>
    <div class="star-info">
        <app-under-line></app-under-line>
        <h2 id ="title1">Co to jest gwiazda?</h2>
        Wikipedia: "Gwiazda – kuliste ciało niebieskie, stanowiące skupisko powiązanej grawitacyjnie materii."
        Powyższy tekst pochodzi z znanej, wśród ludzi szukających wiedzy, strony internetowej i oddaje on dokładny opis
        obiektów, które nazywamy gwiazdami. Dla nas są one odległymi punktami, które zachwycają nas swoim wyglądem, a ważnym aspektem
        ich podziwiania powinna być dokładniejsze wiedza i chęć zrozumienia w jaki sposób działają.
    </div>
    <div class="star-img">
        <img src="../../assets/photo/slonce.jpg" id="image_1">
        <div class="text_star">
            Gwiazdą zasługującą na szczególny szacunek jest Słońce. Jest to gwiazda centralnego Układu Słonecznego,
            wokół której krążą planety, planety karłowate oraz małe ciała Układu Słonecznego.<br>
            Słońce składa się z gorącej plazmy utrzymywanej przez grawitację i kształtowanej przez pole magnetyczne.<br>
            Gwiazda ta jest prawie idealnie kulista. Ma średnicę około 1 392 684 km(3) jego
            masa to 1,989 × 1030 kg. Słońce jest głównym obiektem układi i stanowi około 99,86% jego całkowitej masy.<br>
            W większości Słońce składa sie w dużej mierze z wodoru mniejszej z helu a pozostałe pierwiastki stanowią 1,69%.
            Z pośród cięższych pierwiastków można wymienić m.in. tlen, węgiel, neon i żelazo.
        </div>
    </div>
    <app-under-line></app-under-line>
    <app-search-star></app-search-star>
</div>