#image_1{
    height: 500px;
    margin: 24px;
}
#EnterText{
    font-size: 90px;
    font-weight: 900;
}
#title1{
    font-size: 60px;
    text-align: center;
    margin-bottom: 24px;
    color:#FDCA40;
    font-size: 48px;
    font-weight: 700;
}

#radial_speed{
    width: 100%;
    height: 70px;
    text-align: center;
}
.textgradient {
    font-size: 10vw;
    font-weight: 900;
    background-image:url("../../assets/photo/Crab_Nebula.jpg");
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 150% auto;
    animation: textShine 30s ease-in-out infinite alternate;
  }
  
  @keyframes textShine {
    to {
        background-position: 200%;
      }
  }

.main{
    padding: 8%;
    padding-top: 3.5%;
}
.Text{
    color : white;
    margin:4%;  
    text-align: center;
}
.star-info{
    margin-top: 4%;
    margin-bottom: 4%;
    font-size: 24px;
}
.star-img{
    margin-top: 4%;
    margin-bottom: 4%;
}
.text_star{
    font-size: 24px;
    float: left;
    margin-top:16px;
}
.search_star{
    width:100%;
    text-align: center;
    margin-bottom: -4%;
}
.units2{
    width: 100%;
    font-size: 24px;
}

.tmp{
    color:#11BBB2;
    font-size: 28px;
    font-weight: 700;
}
